
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" ><img src="assets/logo.png" style="width: 120px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/customers" *ngIf="ss.profile">Customers
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/products" *ngIf="ss.profile">Products            <span class="visually-hidden">(current)</span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav float-end">
        <li class="nav-item dropdown" *ngIf="ss.profile">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown">{{ss.profile?.firstName}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
        <li class="nav-link" *ngIf="!ss.profile"><a (click)="Login()">Login</a></li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>
